<a href="https://colab.research.google.com/github/samreennandgadi/coursera-test/blob/master/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

variable casse sensitivity
-python variables are case sensitive.
-small case and upper case alphabets are different.

In [ ]:
#Variable case sensitivity
TAN=10
Tan=20
tan=30
print(f" {TAN}") #TAN Tan and tan are different
print(f" {Tan}")
print(f" {tan}")

 10
 20
 30

In [ ]:
print(f" {TAn}") #error due to case sensitivity

NameError: ignored

In [ ]:
name="Samreen"
Name="samreen"
print(f" {Name}")

 samreen

2. Take input A and B and print their sum, mul, div, square of the nos.

In [ ]:
a=int(input("enter value of A"))
b=int(input("enter value of B"))
print(f"sum of a and b {a+b}")
print(f"multiplication of a and b {a*b}")
print(f"division of a and b {a/b}")
print(f"square of a and b {a**b}")

3. How many reserve keywords are there in python and why we should not use them as a variable name.
python 3 have 33 keywords.
1.print
2.input
3.type
4.and
5.or
6.if
7.elif
8.not
9.as
10.pass
11.lambda
12.else
13.continue
14.break
15.class
16.True
17.False
18.while
19.for
20.import
21.nonlocal
22.try
23.with 
24.yield
25.return
26.raise
27.assert
28.def
29.del
30.except
31.finally
32.global
33.from
33.in
34.is
 python does not restrict the use of reserved words,but writing it as a variable name should be avoided.

4. Create email ids with the user inputs. in the following format - 
lastname.firstname@gmail.com

In [ ]:
firstname=input("name of user")
lastname=input("last name of the user")
print(f"{lastname}.{firstname}@gmail.com")

name of usersamreen
last name of the usernandgadi
nandgadi.samreen@gmail.com


5. Try to print the following lines - 
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.

In [ ]:
print("Hi I'm Sunny")
print("My address is 22/"\"/3")
print("I earn 20$ daily")

SyntaxError: ignored

6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

7. Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

In [ ]:
a=22.4
a=int(a)
print(f" {a}")
a=22
a=complex(a)
print(f" {a}")

 22
 (22+0j)